
%article.article.description.animate-if-in-view
  %h2.headline
    Description

  %p
    This
    %b jquery.formslider
    integrates a modified
    %b Flexslider
    with logical slide pages that can have features and behaviours provided by
    %b plugins.

  %p
    The main goal is to have different actions triggerd depending on what
    %b type
    the actual slide page is.
    You can stop going foward when a formular is invalid for example.

  %p
    The Library is very
    %b small,
    %b performance optimized,
    full
    %b responsive
    and
    %b touch
    capable. You can easyly write you own plugins and
    %b implement custom slide behaviour.
