
%article.article.contact.animate-if-in-view
  %h2.headline
    Documentation

  %ul
    %li
      =  @link_to 'Getting started', "https://github.com/formslider/jquery.formslider"

    %li
      = @link_to 'Configuration', "https://github.com/formslider/jquery.formslider/docs/PLUGINS.md"

    %li
      = @link_to 'Extending', "https://github.com/formslider/jquery.formslider/docs/EXTENDING.md"

    %li
      = @link_to 'Contributing', "https://github.com/formslider/jquery.formslider/docs/CONTRIBUTING.md"
