
%article.article.features.animate-if-in-view
  %h2.headline
    Features

  .row
    %ul
      %li
        %b responsive
      %li
        %b touch
        gestures
      %li all configurable

    %ul
      %li easy to
        %b extend
      %li
        %b plugin
        architecture
      %li many plugins available

    %ul
      %li
        %b automated tests
      %li high
        %b code quality
      %li many customers

  .row
    %ul
      %li
        %b free to use
      %li
        %b open source

      %li many contributers

    %ul
      %li
        %b history
        integrated
      %li
        %b tracking
        integrated
      %li
        %b validation
        integrated

    %ul
      %li animate.css
      %li
        high
        %b performance
      %li
        %b mobile
        optimizations
