
%article.article.features.animate-if-in-view
  %h2.headline
    Features

  .row
    %ul
      %li
        %b responsive
      %li
        %b touch
        gestures
      %li all configurable

    %ul
      %li easy to
        %b extend
      %li
        %b plugin
        architecture
      %li many plugins available

    %ul
      %li
        %b automated tests
      %li high
        %b code quality
      %li many customers

  .row
    %ul
      %li
        %b free to use
      %li
        %b open source

      %li many contributors

    %ul
      %li
        browser
        %b history
      %li
        google
        %b tracking
      %li
        formula
        %b validation

    %ul
      %li animate.css
      %li
        high
        %b performance
      %li
        %b mobile
        optimizations

  = @link_to 'List of all features', 'https://github.com/formslider/jquery.formslider/blob/master/docs/PLUGINS.md#available-plugins', class: 'button cta'
